
    <h1 align="center">{{title}} Login</h1>
<form method="POST" >

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">{{user_label}}</label>
    <input type="text" class="form-control"  #username>
</div>  

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">{{pswrd_label}}</label>
    <input type="password" class="form-control"  > 
  </div> 
  <button type="submit"  class="btn btn-primary" (click) = "login(username.value)">SignUp</button>
  
</form>








